<head>
<meta name="ThinQ.tv" content="Conversations to make you ThinQ and take action: thought-provoking conversations to feed your brain">
<title>ThinQtv - Conversations to make you ThinQ</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12">
    
    <h3 class="aboutHeader">
      How to apply for internship
    </h3 >
    <h4>
      <b>In house</b>
    </h4>
    - Reply with availability between 9:30 -3:00 p.m. MTWF for an interview at at Mcdowell & Scootsdale Rd.<br>
      - We will send you your timeslot and directions if we are interested<br>
      - Scottsdale based interns will work in office 10 hours per week (they schedule their hours) between MTThF 9:00am-5:00pm

<br><br> WE WILL NOT CONTACT YOU IF YOU DO NOT SUBMIT YOUR AVAILABILITY.<br>
    <p> <%= link_to 'Join Conversation', "https://crowdpublishtv.herokuapp.com/lisa", :class => "btn btn-sm btn-primary" %>  at the time slot designated for the position you're interested in. We will review your resume ONLY AFTER YOU ATTEND the livestream conversation.</p>
    <h4 style = "line-height: 1.5em;">
      To be considered for this position remotely, you MUST attend the next livestream conversation on: <br>
    </h4>   <br>
<font >Students may receive course credit for internship. Staff will work with the school/advisor on achieving desired learning outcomes and completing all necessary paperwork.
<br><br>

<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>


  <div class="column" style="background-color:#aaa;">
    <h2><b>Conversation Coordinator & Marketing POSITIONS</b></h2>
    <p>
 -Coversation on Mondays at 3:00pm Pacific Daylight Time (6:00pm Eastern Daylight Time) for Outreach positions<br>
 -Seeking engaging self-starters to coordinate live conversations about thought-provoking topics. <br>
 -Successful candidate(s) will gain experience at an edutainment startup while increasing understanding on subject matter of choice.<br><br>

Responsibilities:<br>
- Invite relevant organizations to participate in live conversations<br>
- Participate in conversations by asking relevant questions<br>
- Get regular users onto the platform
  <br><br>
Qualifications:<br>
- Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience<br>
- Excellent conversational and writing skills
<br><br></p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2><b>RUBY ON RAILS DEVELOPER</b></h2>
    <p>
-Conversations on Tuesdays at 6:30pm PDT / 9:30pm EDT for Ruby on Rails developers.<br>.
-<b>Install the environment on your machine in advance. Go to https://github.com/ece106/tomatocan for instructions.</b><br>

Responsibilities:<br>
- Write tests to expand the current test suite for Test Driven Development & improve site.<br>
-Get regular users on the site<br><br>

Qualifications:<br>
- Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience. Significant experience in an object-oriented language.<br>
- Prefer interns working on MS in C.S or other significant experience in MVC architecture or object-oriented software engineering<br>
- Preferred: Familiarity with Ruby, JavaScript, HTML, CSS, SQL.<br><br></p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2><b>UX/UI DESIGNER</b></h2>
    <p>
- Tuesdays at noon PDT / 3:00pm EDT for UX/UI Designers <br>

Install the environment on your machine in advance. Go to https://github.com/ece106/tomatocan for instructions.<br><br>

Seeking an intern who can observe behavior of potential users and improve design of existing Ruby on Rails site.<br><br>

Responsibilities:<br>
- Solicit feedback from potential platform users to understand what they'd like to use the site for<br>
- Improve site usage and design based on user feedback<br>
- Get regular users onto the platform<br><br>

Qualifications:<br>
- Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience.<br>
- Preferred: Familiarity with JavaScript, HTML, CSS, graphics software.<br><br>

</p>
  </div>
</div>
Supervisor Title: Founder and CEO<br>
</body>






</font>
<br><br><br>
  </div>
</div>
