<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ThinQ.tv" content="Conversations to make you ThinQ and take action: thought-provoking conversations to feed your brain">
<title>ThinQtv - Conversations to make you ThinQ</title>
</head>

<div class="row">
  

  <script src="meet.jitsi.si/external_api">  </script>
  <script>
    jQuery(document).ready(function($) {
<<<<<<< HEAD
      var domain = "meet.jitsi.si";
=======
      var domain = "meet.jit.si";
//      var domain = "evening-beyond-31791.herokuapp.com";
>>>>>>> 821635fab17814c3ec6a3a6f05b91ecb92d8e8ed
      var options = {
        roomName: "interns",
        width: 1300,
        height: 900,
        parentNode: document.querySelector('#meet')
      }
      var api = new JitsiMeetExternalAPI(domain, options);
    });
  </script>

  <div id = "meet">
  </div>

</div>
